@font-face{
font-family:'NotoSansKR';
		src:url("NotoSansKR-Thin.eot");
		src:url("NotoSansKR-Thin.eot?#iefix")format('embedded-opentype'),
				url('NotoSansKR-Thin.woff2')format('woff2'),
				url('NotoSansKR-Thin.woff')format('woff');
				font-weight:100;
				font-style:normal;
}

@font-face{
font-family:'NotoSansKR';
		src:url("NotoSansKR-Light.eot");
		src:url("NotoSansKR-Light.eot?#iefix")format('embedded-opentype'),
				url('NotoSansKR-Light.woff2')format('woff2'),
				url('NotoSansKR-Light.woff')format('woff');
				font-weight:300;
				font-style:normal;
}



@font-face{
font-family:'NotoSansKR';
		src:url("NotoSansKR-Regular.eot");
		src:url("NotoSansKR-Regular.eot?#iefix")format('embedded-opentype'),
				url('NotoSansKR-Regular.woff2')format('woff2'),
				url('NotoSansKR-Regular.woff')format('woff');
				font-weight:400;
				font-style:normal;
}

@font-face{
font-family:'NotoSansKR';
		src:url("NotoSansKR-Medium.eot");
		src:url("NotoSansKR-Medium.eot?#iefix")format('embedded-opentype'),
				url('NotoSansKR-Medium.woff2')format('woff2'),
				url('NotoSansKR-Medium.woff')format('woff');
				font-weight:500;
				font-style:normal;
}

@font-face{
font-family:'NotoSansKR';
		src:url("NotoSansKR-Bold.eot");
		src:url("NotoSansKR-Bold.eot?#iefix")format('embedded-opentype'),
				url('NotoSansKR-Bold.woff2')format('woff2'),
				url('NotoSansKR-Bold.woff')format('woff');
				font-weight:700;
				font-style:normal;
}

@font-face{
font-family:'NotoSansKR';
		src:url("NotoSansKR-Black.eot");
		src:url("NotoSansKR-Black.eot?#iefix")format('embedded-opentype'),
				url('NotoSansKR-Black.woff2')format('woff2'),
				url('NotoSansKR-Black.woff')format('woff');
				font-weight:900;
				font-style:normal;
}
